.arrowDown {
	@extend %horizontal-center;
	
	z-index: 1;
	width: 50px;
	bottom: 15px;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.5s;

	&__img {
		animation-name: arrow;
		animation-duration: 8s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	&__text {
		position: absolute;
		left: 0;
		top: -25px;
		text-transform: uppercase;
		font-family: "pier";
		font-weight: $font_weight_regular;
		font-size: 10px;
		color: white;
	}

	&--projects {
		&__img {
			margin-left: 8px;
		}
	}
	&--about {
		&__img {
			margin-left: 2px;
		}
	}
}
.arrowDown:hover {
	opacity: 0.5;
}



.arrowLeft {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1;

	&__img {
		display: block;
		float: left;
		width: 15px;
	}
	&__text {
		display: block;
		float: left;
		left: 0;
		top: -25px;
		text-transform: uppercase;
		font-family: "pier";
		font-weight: $font_weight_regular;
		font-size: 10px;
		color: $gold;
		padding: 12px;
	}
}


@keyframes arrow {
	0%		{transform: translateY(0px); opacity: 1;}
	80%		{transform: translateY(0px); opacity: 1;}
	87%		{opacity: 1;}
	90%		{transform: translateY(15px); opacity: 0;}
	91%		{transform: translateY(-15px); opacity: 0;}
	98%		{opacity: 1;}
	100%	{transform: translateY(0px); opacity: 1;}
}