.mainTitle {
	@extend %horizontal-center;

	width: 420px;
	margin-top: 10px;
	z-index: 1;

	&__h1 {
		color: white;
		font-family: $font_family_h1;
		font-size: $font_size_h1;
		font-weight: $font_weight_h1;
		font-style: $font_style_h1;
		text-transform: uppercase;
		margin-bottom: 0px;
		margin-top: 19px;

		&--black {
			color: black;
		}
	}
	&__h2 {
		color: $gold;
		font-family: $font_family_h2;
		font-size: $font_size_h2;
		font-weight: $font_weight_h2;
		font-style: $font_style_h2;
		margin: 0px;
	}
	&__net {
		height: 1px;
		width: 70px;
		position: absolute;
		background-color: $gold;
		bottom: 29px;

		&--left {
			left: 1px;
		}
		&--right {
			right: 1px;
		}
	}
}

.h3 {
	color: $gold;
	font-family: $font_family_h3;
	font-size: $font_size_h3;
	font-weight: $font_weight_h3;
	font-style: $font_style_h3;
	text-transform: uppercase;
	margin:0
}

.mosaic__line__piece__title__h4{
	color: $gold;
	font-family: $font_family_h4;
	font-size: $font_size_h4;
	font-weight: $font_weight_h4;
	font-style: $font_style_h4;
	text-transform: uppercase;
}

.h5 {
	color: $gold;
	font-family: $font_family_h5;
	font-size: $font_size_h5;
	font-weight: $font_weight_h5;
	font-style: $font_style_h5;
	text-align: center;
	margin: -10px auto;
}
