<section class="about">
		<div class="mainTitle">
			<span class="mainTitle__h1 mainTitle__h1--black">Tommy Cornilleau</span>
			<span class="mainTitle__h2">Creative Developer</span>
			<div class="mainTitle__net mainTitle__net--left"></div><div class="mainTitle__net mainTitle__net--right"></div>
		</div>
	<div class="about__container clearfix">
		<div class="about__container__background"></div>
		<article class="about__container__article about__container__article--left">
			<h5 class="about__container__article__h5 h5">A propos</h5>
			<div class="section">
				<p>Depuis toujours, je suis intéressé par le multimédia et ses différentes composantes, que ce soit le graphisme, la 3D, le motion design, la photographie et le traitement d’image… Cependant, c’est à travers le développement web que je me passionne pour la conception, la gestion et la mise en place d’interfaces interactives et immersives.</p>
				<p>Après un début de parcours universitaire mêlant la technique et les arts  appliqués au domaine des NTIC, je suis aujourd’hui en master 2 Information et Communication à l’UFR Ingémédia de Toulon, où j’entretiens le côté polyvalent de mon profil tout en continuant à me spécialiser dans le développement web.</p>
				<p>Curieux  par nature, je suis en veille permanente sur les projets les plus innovants et leurs technologies, afin de m’ouvrir aux solutions front-end et back-end de demain.</p>
				</br>
				<a href="http://tommycornilleau.fr/Tommy-Cornilleau_CV.pdf" target="_blank" class="link">Voir mon CV</a>
			</div>
		</article>
		<article class="about__container__article about__container__article--right">
			<h5 class="about__container__article__h5 h5">Contact</h5>
			<form class="about__form" name="messageForm" novalidate ng-hide="sent">
				<div class="about__form__line">
					<label for="name" class="about__form__line__label">Votre nom</label>
					<input type="text" name="name" ng-model="message.name" id="name" ng-minlength="2" class="about__form__line__input" required >
				</div>
				<div class="about__form__line">
					<label for="mail" class="about__form__line__label" >Votre mail</label>
					<input type="email" name="mail" ng-model="message.mail" id="mail" class="about__form__line__input" required >
				</div>
				<div class="about__form__line">
					<label for="message" class="about__form__line__label">Votre message</label>
					<textarea id="message" name="text" ng-model="message.message" class="about__form__line__textarea" ng-minlength="10" required ></textarea>
				</div>
				<div class="about__form__line">
					<button ng-click="send()" class="about__form__line__input about__form__line__submit">Envoyer</button>
				</div>
			</form>
			<p class="about__confirm section"  ng-show="confirm !== null">{{confirm}}</p>
		</article>
	</div>
</section>