<section class="about">
		<div class="mainTitle">
			<span class="mainTitle__h1 mainTitle__h1--black">Tommy Cornilleau</span>
			<span class="mainTitle__h2">Creative Developper</span>
			<div class="mainTitle__net mainTitle__net--left"></div><div class="mainTitle__net mainTitle__net--right"></div>
		</div>
	<div class="about__container clearfix">
		<div class="about__container__background"></div>
		<article class="about__container__article about__container__article--left">
			<h5 class="about__container__article__h5 h5">A propos</h5>
			<div class="section">
				<p>Depuis toujours, je suis intéressé par le multimédia et par ses différents domaines, que ce soit le graphisme, la 3D, le motion design, la photographie et le traitement d’image… Cependant, c’est à travers le développement web que je me passionne pour la conception, la gestion et la mise en place d’interfaces interactives et immersives.</p>
				<p>Après un début de parcours universitaire mêlant technique et artistique autour de la problématique des NTIC, je suis aujourd’hui en master 2 Information Communication à l’UFR Ingémédia de Toulon, où j’entretiens le côté polyvalent de mon profil tout en me spécialisant toujours dans le développement web.</p>
				<p>Curieux et autodidacte par nature, je me renseigne quotidiennement sur les projets les plus innovants et leurs technologies afin de m’ouvrir à un maximum de solutions front-end et back-end.</p>
			</div>
		</article>
		<article class="about__container__article about__container__article--right">
			<h5 class="about__container__article__h5 h5">Contacter</h5>
			<form class="about__form" name="messageForm" novalidate ng-hide="sent">
				<div class="about__form__line">
					<label for="name" class="about__form__line__label">Nom</label>
					<input type="text" name="name" ng-model="message.name" id="name" ng-minlength="2" class="about__form__line__input" required >
				</div>
				<div class="about__form__line">
					<label for="mail" class="about__form__line__label" >Mail</label>
					<input type="email" name="mail" ng-model="message.mail" id="mail" class="about__form__line__input" required >
				</div>
				<div class="about__form__line">
					<label for="message" class="about__form__line__label">Message</label>
					<textarea id="message" name="text" ng-model="message.message" class="about__form__line__textarea" ng-minlength="10" required ></textarea>
				</div>
				<div class="about__form__line">
					<button ng-click="send()" class="about__form__line__input about__form__line__submit">Envoyer</button>
				</div>
			</form>
			<p class="about__confirm section"  ng-show="confirm !== null">{{confirm}}</p>
		</article>
	</div>
</section>