<section class="about">
		<div class="mainTitle">
			<span class="mainTitle__h1 mainTitle__h1--black">Tommy Cornilleau</span>
			<span class="mainTitle__h2">Creative Developper</span>
			<div class="mainTitle__net mainTitle__net--left"></div><div class="mainTitle__net mainTitle__net--right"></div>
		</div>
	<div class="about__container clearfix">
		<div class="about__container__background"></div>
		<article class="about__container__article about__container__article--left">
			<h5 class="about__container__article__h5 h5">A propos</h5>
			<div class="section">
				<p>Dr. Crane isn't here right now. But if you'd like to make an appointment.</p>
				<p>You wanna know how I got these scars? My father was... a drinker, and a fiend. And one night, he goes off crazier than usual. Mommy gets the kitchen knife to defend herself. He doesn't like that, not one bit. So, me watching he takes the knife to her, laughing while he does it. He turns to me and he says: "Why so serious?". He comes at me with the knife "Why so serious?". He sticks the blade in my mouth. "Let's put a smile on that face." and... Why so serious?</p>
				<p>You care about justice? Look beyond your own pain, Bruce. This city is rotting.</p>
				<p>But I know the rage that drives you. That impossible anger strangIing the grief until the memory of your loved one is just poison in your veins. And one day, you catch yourself wishing the person you loved had never existed so you'd be spared your pain.</p>
				<p>Theatricality and deception, powerful agents to the uninitiated. But we are initiated aren't we, Bruce? Members of the League of Shadows. And you betrayed us.</p>
			</div>
		</article>
		<article class="about__container__article about__container__article--right">
			<h5 class="about__container__article__h5 h5">Contacter</h5>
			<form class="about__form">
				<div class="about__form__line">
					<label for="name" class="about__form__line__label">Nom</label>
					<input type="text" name="name" id="name" class="about__form__line__input">
				</div>
				<div class="about__form__line">
					<label for="mail" class="about__form__line__label">Mail</label>
					<input type="email" name="mail" id="mail" class="about__form__line__input">
				</div>
				<div class="about__form__line">
					<label for="message" class="about__form__line__label">Message</label>
					<textarea id="message" class="about__form__line__textarea"></textarea>
				</div>
				<div class="about__form__line">
					<input type="submit" value="Envoyer" class="about__form__line__input about__form__line__submit">
				</div>
			</form>
		</article>
	</div>
</section>