<section class="single">
	<div class="loader" ng-hide="canvasLoaded">
		<svg class="loader__svg" width="60" height="60" viewBox="0 0 105 105" xmlns="http://www.w3.org/2000/svg" fill="#d79b19">
			<circle cx="12.5" cy="12.5" r="7">
				<animate attributeName="fill-opacity"
				begin="0s" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
			<circle cx="12.5" cy="52.5" r="7" fill-opacity=".5">
				<animate attributeName="fill-opacity"
				begin="100ms" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
			<circle cx="52.5" cy="12.5" r="7">
				<animate attributeName="fill-opacity"
				begin="300ms" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
			<circle cx="52.5" cy="52.5" r="7">
				<animate attributeName="fill-opacity"
				begin="600ms" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
			<circle cx="92.5" cy="12.5" r="7">
				<animate attributeName="fill-opacity"
				begin="800ms" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
			<circle cx="92.5" cy="52.5" r="7">
				<animate attributeName="fill-opacity"
				begin="400ms" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
			<circle cx="12.5" cy="92.5" r="7">
				<animate attributeName="fill-opacity"
				begin="700ms" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
			<circle cx="52.5" cy="92.5" r="7">
				<animate attributeName="fill-opacity"
				begin="500ms" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
			<circle cx="92.5" cy="92.5" r="7">
				<animate attributeName="fill-opacity"
				begin="200ms" dur="1s"
				values="1;.2;1" calcMode="linear"
				repeatCount="indefinite" />
			</circle>
		</svg>
	</div>
	<button class="arrowLeft" ng-click="gotoProjects('')">
		<img src="img/arrow-left.svg" class="arrowLeft__img">
		<span class="arrowLeft__text">Projets</span>
	</button>
	<div class="single__gallery">
		<div id="container" class="single__gallery__container">
			<canvas id="gallery" class="single__gallery__container__canvas"></canvas>
		</div>
	</div>
	<article class="single__article">
		<div class="single__article__titles clearfix">
			<h4 class="single__article__titles__h3 h3">Dancing Interface</h4>
			<div class="single__article__titles__technos">HTML5/CSS3 - jQuery - MODx</div>
		</div>
		<div class="single__article__section section">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat felis eros, a aliquam tellus ultrices vel. Suspendisse tempor ante cursus lacus mollis, non pharetra neque tincidunt. Sed tempor lectus nisi, nec fringilla dui vestibulum nec. Integer lacinia mattis sapien, id sodales erat tincidunt non. Sed ex erat, aliquet non ligula at, tempor dignissim purus. Phasellus feugiat, quam euismod iaculis finibus, nulla magna faucibus nisl, feugiat pretium sapien quam sit amet velit. Aliquam et est a libero congue ultrices eu in augue. Quisque ultricies urna et metus pellentesque, sed faucibus augue rhoncus.</p>
			<a href="#" class="single__article__link link">Voir le projet</a>
		</div>
	</article>
</section>